@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 241 10% 97%;
    --foreground: 241 8% 15%;

    --card: 241 15% 99%;
    --card-foreground: 241 8% 15%;

    --popover: 241 5% 99%;
    --popover-foreground: 241 8% 10%;

    --primary: 241 10% 37%;
    --primary-foreground: 241 0% 96%;

    --secondary: 241 19% 88%;
    --secondary-foreground: 241 28% 16%;

    --muted: 241 16% 87%;
    --muted-foreground: 241 14% 56%;

    --accent: 241 12% 88%;
    --accent-foreground: 241 10% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 241 26% 87%;
    --input: 241 26% 87%;
    --ring: 241 21% 17%;

    --radius: 0.75rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 241 10% 4%;
    --foreground: 241 8% 90%;

    --card: 241 12% 8%;
    --card-foreground: 241 8% 96%;

    --popover: 241 5% 10%;
    --popover-foreground: 241 8% 98%;

    --primary: 241 10% 80%;
    --primary-foreground: 241 0% 96%;

    --secondary: 241 12% 10%;
    --secondary-foreground: 241 28% 90%;

    --muted: 241 16% 9%;
    --muted-foreground: 241 14% 56%;

    --accent: 241 12% 24%;
    --accent-foreground: 241 10% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 241 10% 16%;
    --input: 241 10% 16%;
    --ring: 241 21% 17%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
